div {
    .container__folder {
        padding-left: 20%;
    }

    .container__view {
        padding-left: 20%;
    }
}

img {
    width: 100px;
    height: 100px;
}

button {
    background: transparent;
    border: none !important;
    font-size:0;
}