div {
    .container__view {
        padding-left: 15%;
    }
    .container__folder {
        padding-left: 0px;
    }
    .container__folder-block {
        padding-left: 50px;
        flex-direction: row;
    }
    .container__file {
        padding-left: 110px;
    }
    .container__file-list {
        padding-left: 10%;
    }
}

img {
    width: 50px;
    height: 50px;
}

button {
    background: transparent;
    border: none !important;
    font-size:0;
}
